<mat-card class="main-container">
    <form class="example-form" [formGroup]="cityForm"
          (ngSubmit)="onSubmit(cityForm.value)">
        <div class="input-fields-container">
            <mat-form-field style="width: 180px" class="name-field" appearance="fill">
                <mat-label>Nome</mat-label>
                <input formControlName="name" matInput placeholder="Ex. Paraíba">
            </mat-form-field>
            <mat-form-field style="width: 180px" appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let state of availableStates" [value]="state">{{state}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="buttons-container">
            <button type="reset" (click)="onCancel()" mat-button>Cancelar</button>
            <button type="submit"
                    [disabled]="!cityForm.valid" mat-button>{{isEditMode ? 'Atualizar' : 'Inserir' }}</button>
        </div>
    </form>
    <div *ngIf="errorMessage!==undefined" class="request-error">
        {{errorMessage}}
    </div>
</mat-card>
