.main-container {
    //width: 100%;
}

.input-fields-container {
    display: flex;
    justify-content: space-evenly;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.name-field {
    //margin-right: 25px;
}

.abbreviation-field {
}

.request-error {
    margin-top: 20px;
    color: red;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
